<template>
  <div class="app" :class="period">
    <h1>Maree Venezia</h1>
    <h2>{{ dateNow }}</h2>
    <h2 class="below-date">{{ hoursNow }}:{{ minutesNow }}</h2>
    <div v-if="loading">loading ...</div>
    <MareeVenezia :stazione="stazione" :valore="valore" v-else />
  </div>
</template>

<script>
import MareeVenezia from "./components/MareeVenezia.vue";

export default {
  name: "App",
  components: {
    MareeVenezia,
  },
  data() {
    return {
      date: new Date(),
      data: null,
      loading: true,
      errored: false,
    };
  },
  mounted() {
    this.$axios
      .get(
        "https://api.codetabs.com/v1/proxy/?quest=https://dati.venezia.it/sites/default/files/dataset/opendata/livello.json"
      )
      .then((response) => {
        this.data = response.data;
        console.log(response.data);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  },
  computed: {
    year() {
      return this.date.getFullYear();
    },
    dateNow() {
      return `${this.date.getDate()} - ${this.date.getMonth()} - ${this.date.getFullYear()}`;
    },
    hoursNow() {
      return `${this.date.getHours()}`;
    },
    minutesNow() {
      return `${this.date.getMinutes()}`;
    },
    period() {
      return this.hoursNow > 5 && this.hoursNow < 18 ? "app-day" : "app-night";
    },
    stazione() {
      return this.data[0].stazione;
    },
    valore() {
      let str = this.data[0].valore;
      // return parseFloat(str.replace(/^\D*/, ""));
      return parseFloat(str);
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in;
}

/** App **/
.app {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-day {
  background-image: url('./assets/background.png');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-color: #6cb9c8;
}

.app-night {
  background-image: url('./assets/background.png');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-color: #484f60;
}

.app-day a:hover {
  color: rgba(46, 146, 167, 0.9);
}

.app-night a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.below-date {
  margin-bottom: 10%;
}
</style>
