<template>
  <div class="logo">
    <img alt="Vue logo" src="./assets/logo.png"/>
  </div>
  <h1>es007 pwa</h1>
  <h2>Bitcoin Price Index</h2>
  <section v-if="errored">
    <p>
      We're sorry, we're not able to retrieve this information at the moment,
      please try back later
    </p>
  </section>

  <section v-else>
    <div v-if="loading">Loading...</div>
    <div v-else v-for="(currency, index) in info" :key="index" class="currency">
      {{ currency.description }}:
      <span class="lighten">
        <span v-html="currency.symbol"></span
        >{{ currencydecimal(currency.rate_float) }}
      </span>
    </div>
  </section>
</template>

<script>

export default {
  name: "App",
  data() {
    return {
      info: null,
      loading: true,
      errored: false,
    };
  },
  methods: {
    currencydecimal(value) {
      return value.toFixed(2);
    },
  },
  mounted() {
    this.$axios
      .get("https://api.coindesk.com/v1/bpi/currentprice.json")
      .then((response) => (this.info = response.data.bpi))
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  },
};
</script>

<style>
#app {
  margin-top: 20px;
  width: 300px;
  padding: 0 40px 40px;
  background: #2f242c;
  border-radius: 10px;
  color: #f5ca0d;
}

body {
  display: flex;
  justify-content: center;
  background: #db4409;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
}

.logo {
  text-align: center;
}

h1 {
  color: #e7f3a4ec;
}

.lighten {
  color: white;
}
</style>